/ {
    chosen {
        zephyr,console = &usart1;
        zephyr,shell-uart = &usart1;
    };
    aliases {
        bme280 = &bme280;
        scd41 = &scd41;
        sh1107 = &sh1107;
    };
};

// &gpiof {status = "okay";};

&i2c1 {
  status = "okay";
  pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
  pinctrl-names = "default";
  sh1107: sh1107@3c {
    compatible = "sinowealth,sh1107";
    status = "okay";
    reg = <0x3c>;
    width = <0x80>;
    height = <0x40>;
    display-offset = <0x60>;
    multiplex-ratio = <0x3F>;
    prechargep = <0x22>;
    segment-remap;
    ready-time-ms = <0x0A>;
  };
};

&i2c2 {
    status = "okay";
    pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb11>;
    pinctrl-names = "default";

//    sgp40: sgp40@59 {
//        compatible = "sensirion,sgp40";
//        label = "SGP40";
//        status = "disabled";
//  reg = <0x59>;
//        enable-selftest;
//    };

    scd41: scd41@62 {
      compatible = "sensirion,scd41";
      status = "okay";
      reg = <0x62>;
    };

    bme280: bme280@76 {
        compatible = "bosch,bme280";
        label = "BME280";
        reg = <0x76>;
        status = "okay";
    };
};
